* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(0001.jpg);
  background-image: url(img/header-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 700;
  color: #FFFFFF;
}
.title-header {
  font-size: 64px;
  line-height: 78px;
  padding-top: 217px;
  margin-bottom: 32px;
}
.title-game {
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}

.image {
  width: 100%;
  max-height: 333px;
  max-width: 485px;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  align-items: center;
  color: #FFFFFF;
}
.text--bold {
  font-weight: 600;
}
.text__header {
  margin-bottom: 44px;
}

.button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  border: none;
}
.button:hover {
  cursor: pointer;
  background: #EB443F;
  border-radius: 30px;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.game-block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 800px;
  align-items: center;
}
.game-months {
  grid-column: span 6;
}
.game-picture {
  grid-column: span 5;
}
.game-list {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.game-list__link {
  color: #FFFFFF;
  text-decoration: none;
}
.game-list__item {
  /* grid-column: span 4; */
  width: 379px;
  height: 300px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: flex-end;
  padding-left: 32px;
  padding-bottom: 32px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.game-list__item:hover {
  cursor: pointer;
}
.game-list__item--1 {
  background-image: url(img/game-1.png);
}
.game-list__item--2 {
  background-image: url(img/game-2.png);
}
.game-list__item--3 {
  background-image: url(img/game-3.png);
}

@media (max-width: 767px) {
  .top {
    height: 735px;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .text {
    font-size: 14px;
    line-height: 22px;
  }
  .text__header {
    text-align: center;
    margin-bottom: 32px;
  }
  .text__game {
    text-align: center;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .button {
    margin: 0 auto;
    display: block;
  }
  .game {
    /* &-months {
        grid-column: span 4;
    }

    &-picture {
        grid-column: span 4;
    }  */
  }
  .game-list {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .game-list__item {
    width: 100%;
    max-width: 378px;
  }
  .game-block {
    display: flex;
    flex-direction: column;
    gap: 64px;
    height: 653px;
    justify-content: center;
  }
  .game-picture {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */